<center><h1>Tully's Item List</h1>
<p>Please find our list of items on show below or you may use the search facility to find specific items</p>
<p>Thank you for choosing Tully's</p>

<%= form_tag(item_index_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Inventory" %>
<%= submit_tag "Search"  %>
<% end %>

<% if @items.present? %>
<% @items %>



   


<% else %>
  <p>There are no items in stock correpsonding to the term(s) <%= params[:search] %>.</p>
  <p><%= link_to "<< Back to full listing", item_index_path%></p> 
    <% end %>





<% @items.each do |item| %>
 <p><%= link_to item.name, item_show_path(item) %></p>
<% end %>
<h2><%= link_to "Create new item >>", item_new_path %></h2> 
<h2><%= link_to "Home", root_path %></h2> 

</center>
